{% extends 'base.html' %}
{% block style %}
{% endblock %}
{% block content %}
    	<div class="contents">
			<div class="grid_wrapper">

				<div class="g_6 contents_header">
					<h3 class="i_16_dashboard tab_label">首页</h3>
					<div><span class="label">index</span></div>
				</div>

				<div class="g_12 separator"><span></span></div>

				<!-- Quick Statistics -->
				<div class="g_3 quick_stats">
					<div class="big_stats visitor_stats">
						9827
					</div>
					<h5 class="stats_info">文本数量</h5>
				</div>
				<div class="g_3 quick_stats">
					<div class="big_stats tickets_stats">
						2
					</div>
					<h5 class="stats_info">分类类别</h5>
				</div>
				<div class="g_3 quick_stats">
					<div class="big_stats users_stats">
						1
					</div>
					<h5 class="stats_info">用户数量</h5>
				</div>
				<div class="g_3 quick_stats">
					<div class="big_stats orders_stats">
						2022
					</div>
					<h5 class="stats_info">当前年份</h5>
				</div>
			</div>
		</div>
{% endblock %}
{% block script %}
{% endblock %}